/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

html, body
{
    color: #666;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    background-color: #eee;
}

form
{
    display: block;
    width: 320px;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border-radius: 0.25em;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.35);
    -o-transition: box-shadow 0.25s;
    -ms-transition: box-shadow 0.25s;
    -moz-transition: box-shadow 0.25s;
    -webkit-transition: box-shadow 0.25s;
    transition: box-shadow 0.25s;
}

form:hover
{
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.35);
}

h1
{
    display: block;
    padding: 1em;
    border-bottom: 1px solid #ccc;
    text-align: center;
    font-weight: 700;
    letter-spacing: 1px;
}

form .body
{
    padding: 1em;
    box-sizing: border-box;
}

.form-group
{
    margin-bottom: 1em;
}

label
{
    display: block;
    margin-bottom: 0.5em;
}

input
{
    display: block;
    width: 100%;
    padding: 0.5em;
    border-radius: 0.25em;
    box-sizing: border-box;
    border: 1px solid #ccc;
    color: #666;
    background-color: white;
    outline: none;
}

input:focus
{
    border-color: #00a6ef;
}

button
{
    cursor: pointer;
    display: block;
    width: 100%;
    padding: 1em;
    box-sizing: border-box;
    background: none;
    color: #00a6ef;
    border: 1px solid #00a6ef;
    border-radius: 0.25em;
    -o-transition: background-color 0.5s, color 0.5s;
    -ms-transition: background-color 0.5s, color 0.5s;
    -moz-transition: background-color 0.5s, color 0.5s;
    -webkit-transition: background-color 0.5s, color 0.5s;
    transition: background-color 0.5s, color 0.5s;
}

button:hover
{
    color: white;
    background-color: #00a6ef;
}
